default:
    autoload:
        'Console': %paths.base%/vendor/phpspec/phpspec/features/bootstrap
        '': %paths.base%/features/bootstrap
    suites:
        exemplify:
            contexts: [ FeatureContext ]
    gherkin:
        filters:
            tags: ~@wip
    formatters:
        progress : ~
